<main>
  <section class="banner">
    <div class="banner__promo">
      <img
        class="forms__lines--purple"
        src="/assets/images/lines-bg-purple.png"
        alt=""
        aria-hidden="true"
      />
      <div class="promo-content">
        <p class="location-info">Lugar: Hub de innovación UPAO</p>
        <h1>
          Webflow <br />
          Collab <br />
          <span>Fest</span><small>beta</small>
        </h1>
        <div class="city-box">
          <h2>Trujillo</h2>
        </div>
        <div class="purple-box purple-box--first">
          <h3>21 de Diciembre 2024</h3>
        </div>
        <div class="purple-box purple-box--second">
          <h3>09:00 hs.</h3>
        </div>
      </div>
    </div>
    <div class="banner__logos">
      <img src="/assets/images/brands.webp" alt="alianzas de design space" />
    </div>
  </section>
  <section class="forms">
    <img
      class="forms__lines--purple"
      src="/assets/images/lines-bg-purple.png"
      alt=""
      aria-hidden="true"
    />

    <a class="go-back" href="https://designspace.club/">
      <img
        src="/assets/icons/arrow-left.svg"
        alt="boton para ir a la página principal"
      />
      Volver al inicio
    </a>

    @switch (currentStep()) {
      @case (stepValue.CODE_VERIFICATION) {
        <code-verification (successVerification)="nextStep($event)" />
      }
      @case (stepValue.REGISTER_FORM) {
        <register-form (successRegister)="nextStep($event)" />
      }
      @case (stepValue.CONFIRM_MESSAGE) {
        <confirm-message />
      }
    }

    @if (currentStep() !== stepValue.CONFIRM_MESSAGE) {
      <small class="expiration-date">
        *El código brindado es valido hasta el Lunes 16 de Diciembre
      </small>
    }

    <img
      class="forms__lines--green"
      src="/assets/images/lines-bg-green.png"
      alt=""
      aria-hidden="true"
    />
  </section>
</main>
