<main>
  <section class="banner"></section>
  <section class="forms">
    <img
      class="forms__lines--purple"
      src="/assets/images/lines-bg-purple.png"
      alt=""
      aria-hidden="true"
    />

    <a class="go-back" href="https://designspace.club/">
      <img
        src="/assets/icons/arrow-left.svg"
        alt="boton para ir a la página principal"
      />
      Volver al inicio
    </a>

    <div class="forms__content">
      <img
        class="main-logo"
        src="/assets/images/logo-design-space.png"
        width="184"
        height="32.38"
        alt="logo de designspace"
      />

      <h1 class="forms__title">Confirma tu asistencia</h1>

      <p class="forms__text">
        Fuiste seleccionado para vivir la experiencia y aprender una de las
        herramientas más potentes <strong>NOCODE</strong> para crear webs
        personalizadas
      </p>

      <form [formGroup]="codeForm" (ngSubmit)="onSubmit()">
        <input
          type="text"
          placeholder="Código de registro"
          formControlName="code"
          maxlength="6"
        />

        <button [disabled]="codeForm.invalid">
          Validar código
          @if (showLoader()) {
            <div class="loader"></div>
          }
        </button>
      </form>
    </div>

    <small>*El código brindado es valido hasta el Lunes 16 de Diciembre</small>

    <img
      class="forms__lines--green"
      src="/assets/images/lines-bg-green.png"
      alt=""
      aria-hidden="true"
    />
  </section>
</main>
