main {
  display: grid;
  grid-template-columns: 1fr;
  color: #1e1e1e;
  min-height: 100dvh;
  overflow: hidden;

  .banner {
    background-color: #1e1e1e;
    display: none;

    .banner__promo {
      height: calc(100% - 134px);
      display: grid;
      place-content: center;
      position: relative;

      .forms__lines--purple {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .location-info {
        color: #828282;
        font-size: 1.5rem;
        line-height: 125%;
        margin-bottom: 15px;
        position: relative;
        z-index: 10;
      }
      h1 {
        color: #fff;
        font-size: 6.125rem;
        line-height: 120%;
        font-family: "Bowlby One", sans-serif;
        font-weight: 400;

        span {
          background-color: #d1ef53;
          color: #1e1e1e;
          display: inline-block;
          padding: 0 2rem 0 1.5rem;
          margin-right: 14px;
        }
        small {
          color: #b3a0cd;
          font-size: 3rem;
          letter-spacing: -3%;
          font-family: "Coming Soon", cursive;
          -webkit-text-stroke-width: 3px;
        }
      }
      .city-box {
        display: grid;
        place-content: center;
        border: 3px solid #fff;
        border-radius: 148.45px;
        width: 218.22px;
        height: 63.83px;
        margin: 4px 0 50px 0;

        h2 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.8556rem;
        }
      }
      .purple-box {
        width: 282.97px;
        height: 76.41px;
        background-color: #b3a0cd;
        display: grid;
        place-content: center;
        rotate: -5deg;

        &.purple-box--first {
          margin-left: 52px;
        }
        &.purple-box--second {
          margin-left: 240.38px;
          margin-top: -12px;
          width: fit-content;
          padding: 0 24px 0 16px;
        }

        h3 {
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 145%;
        }
      }
    }
    .banner__logos {
      background-color: #fff;
      height: 134px;
      display: grid;
      place-content: center;

      img {
        max-width: 557.4px;
      }
    }
  }
  .forms {
    padding: 111px 18px 116px;
    display: flex;
    flex-direction: column;
    position: relative;

    .forms__lines--purple,
    .forms__lines--green {
      position: absolute;
      z-index: -1;
    }

    .forms__lines--purple {
      top: -7px;
      left: -40px;
    }
    .forms__lines--green {
      bottom: -127px;
      right: -16px;
    }

    .go-back {
      color: #1e1e1e;
      display: flex;
      column-gap: 12px;
      align-items: center;
      width: fit-content;
      font-weight: 600;
      line-height: 28px;
    }

    .forms__content {
      max-width: 483px;
      margin: auto;
    }

    .main-logo {
      display: block;
      margin: 0 auto 1.5rem;
    }
    .forms__title,
    .forms__text,
    .expiration-date {
      text-align: center;
    }
    .forms__title {
      font-size: 1.5rem;
      line-height: 125%;
      margin-bottom: 0.875rem;
    }
    .forms__text {
      line-height: 125%;
      margin-bottom: 2rem;
      color: #6a6a6a;
      font-size: 0.875rem;
    }
    form {
      input {
        border: 1px solid #6a6a6a;
        border-radius: 100px;
        color: #6a6a6a;
        display: block;
        font-size: 1rem;
        width: 100%;
        max-width: 469px;
        height: 56px;
        margin: 0 auto 0.4375rem;
        padding: 16px;
        letter-spacing: -0.3px;
        transition: outline 0.1s ease-in-out;

        &:focus {
          outline: 1px solid #1e1e1e;
        }
      }
      .text-error {
        color: #ff4145;
        text-align: left;
        display: none;
        font-size: 0.875rem;
        margin-left: 1rem;
        line-height: 125%;
      }
      button {
        font-size: 1rem;
        border-radius: 100px;
        border: none;
        height: 48px;
        padding: 0 41px;
        background-color: #1e1e1e;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin: 24px auto 0;
        transition:
          background-color 0.3s ease-in-out,
          color 0.3s ease-in-out;

        &:disabled {
          background-color: #f0f0f0;
          color: #1e1e1e;
          cursor: default;
        }
      }

      &.error {
        input {
          border-color: #ff4145;
          border-width: 1.5px;

          &:focus {
            outline: none;
          }
        }
        .text-error {
          display: inline-block;
        }
        button {
          background-color: #ff4145;
          color: #fff;
        }
      }
    }
    .expiration-date {
      display: block;
      font-size: 0.875rem;
      line-height: 125%;
      color: #6a6a6a;
      margin-bottom: 28px;
    }
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;

    .banner {
      display: block;
    }
    .forms {
      padding: 76px 50px 60px 30px;
      grid-column: 2 / -1;

      .forms__lines--purple {
        display: none;
      }
      .forms__lines--green {
        bottom: 0px;
        right: 0px;
      }
      .forms__content {
        margin-top: 116px;
      }
      .expiration-date {
        margin-bottom: 0;
        text-align: end;
      }
    }
  }
  @media screen and (min-width: 1366px) {
    grid-template-columns: 1fr 735px;
  }
  @media screen and (max-height: 863px) {
    .banner {
      .banner__promo {
        .location-info {
          font-size: 1rem;
        }
        h1 {
          font-size: 5.5rem;

          small {
            font-size: 2.5rem;
          }
        }
        .city-box {
          width: 177px;
          height: 52px;

          h2 {
            font-size: 21.6896px;
          }
        }
        .purple-box {
          width: 198px;
          height: 53.5px;

          &.purple-box--first {
            margin-left: 40px;
          }
          &.purple-box--second {
            margin-left: 180px;
            margin-top: -13px;
          }

          h3 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
