<h1 class="forms__title">Completa tus datos</h1>

<p class="forms__text">
  Esto te servirá para poder hacer la primera <strong>CONFIRMACIÓN</strong> de
  tu asistencia
</p>

<form [formGroup]="registerForm" (ngSubmit)="sendRegisterForm()">
  <input
    type="text"
    placeholder="Nombre y Apellidos"
    formControlName="fullName"
  />
  <input
    type="tel"
    maxlength="9"
    minlength="9"
    placeholder="Número de teléfono"
    formControlName="phone"
  />
  <input
    type="email"
    placeholder="Correo electrónico"
    formControlName="email"
  />

  <button class="primary-button" [disabled]="registerForm.invalid">
    Confirmar asistencia
    @if (showLoader()) {
      <div class="loader"></div>
    }
  </button>
</form>
