*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #d1ef53;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.forms__title,
.forms__text,
.expiration-date {
  text-align: center;
}
.forms__title {
  font-size: 1.5rem;
  line-height: 125%;
  margin-bottom: 0.875rem;
}
.forms__text {
  line-height: 125%;
  margin-bottom: 2rem;
  color: #6a6a6a;
  font-size: 0.875rem;
}

form {
  input {
    border: 1px solid #6a6a6a;
    border-radius: 100px;
    color: #6a6a6a;
    display: block;
    font-size: 1rem;
    width: 100%;
    max-width: 469px;
    height: 56px;
    margin: 0 auto 0.4375rem;
    padding: 16px;
    letter-spacing: -0.3px;
    transition: outline 0.1s ease-in-out;

    &:focus {
      outline: 1px solid #1e1e1e;
    }
  }
  .text-error {
    color: #ff4145;
    text-align: left;
    display: none;
    font-size: 0.875rem;
    margin-left: 1rem;
    line-height: 125%;
  }
  &.error {
    input {
      border-color: #ff4145;
      border-width: 1.5px;

      &:focus {
        outline: none;
      }
    }
    .text-error {
      display: inline-block;
    }
    button {
      background-color: #ff4145;
      color: #fff;
      pointer-events: none;
    }
  }
}

.primary-button {
  font-size: 1rem;
  border-radius: 100px;
  border: none;
  height: 48px;
  padding: 0 41px;
  background-color: #1e1e1e;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin: 0 auto;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:disabled {
    background-color: #f0f0f0;
    color: #1e1e1e;
    cursor: default;
  }
}
